# .coveragerc to control coverage.py
[run]
branch = True
source = metrics
relative_files = True
source_pkgs = metrics

[paths]
source = tests

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
show_missing = True

[xml]
output = reports/coverage.xml
